* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'karla', sans-serif;
}

p {
  font-family: 'karla', sans-serif;
}


.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-task {
  border-radius: 10px;
  padding: 10px 10px;
  color: #FBF9F1;
  background-color: #4A4E74;
  cursor: pointer;
  margin-top: 20px;
}

.nav--title {
  font-size: 1.5rem;
  margin-right: auto;
  padding-left: 20px;
}

.homePageIntro-style {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 3%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 80px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

}

.nav--date {
  padding-right: 15px;
  font-size: 1.2rem;
}


.div--card {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 2.5em;
}

.div--card>h2 {
  font-size: 1.4em;
  text-align: center;
}


.card {
  margin-top: 15px;
}

.addTaskButton--style {
  margin-top: 1em;
  margin-left: 4.5em;
  padding: 0px 70px 0px 70px;
  align-items: center;
  border-radius: 5px;
  color: #FBF9F1;
  background-color: #4A4E74;
}

.cardButton--style {
  margin-left: 15%;
}


.form--style {
  padding: 20px;
}

.label--style {
  margin-top: 20px;
}

.button--style {
  margin-top: 30px;
  color: #FBF9F1;
  background-color: #4A4E74;
  border-radius: 5px;
  width: 100%;
}

.login-button--style {
  color: #FBF9F1;
  background-color: #4A4E74;
  border-radius: 5px;
  width: 50%;
  height: 10%;
  font-weight: bold;
  border-color: transparent;
}

.login-button--style:hover {
  background-color: #4d5385;
}

.newAccount-button--style {
  background-color: #339023;
  color: #ffffff;
  border-radius: 5px;
  width: 30%;
  height: 10%;
  font-weight: bold;
  font-family: 'karla', sans-serif;
  border-color: transparent;
}

.newAccount-button--style:hover {
  background-color: #3cbc26;
}

.signUp-button--style {
  background-color: #339023;
  color: #ffffff;
  border-radius: 5px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  font-family: 'karla', sans-serif;
  border-color: transparent;
}

.signUp-button--style:hover {
  background-color: #3cbc26;
}

.login-text-style {
  width: 50%;
}

.card-title>i {
  margin-left: 60%;
  font-size: 15px;
  cursor: pointer;
}

.card-title>i:hover {
  color: red;
}

.textField--style {
  font-family: 'karla', sans-serif;
}

.formTitle--style {
  padding-left: 20px;
}

.login--container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'karla', sans-serif;

}

.tst {
  width: 50%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.signIn--h2 {
  margin-bottom: 30%;
  color: #4A4E74;
  font-weight: bold;
}

.signUp--h2 {
  margin-bottom: 110px;
  margin-right: 70%;
  color: #4A4E74;
  font-weight: bold;
}

.signUp-text-style {
  width: 50%;
}

.textField-style2 {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.dd {
  margin-right: 10px !important;
}

.emailPasswordStyle {
  width: 90%;
}

.signOutIcon {
  margin-bottom: 7px;
  margin-left: 10px;
}

.signOutIcon:hover {
  color: rgb(71, 67, 67);
  cursor: pointer;
}