* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'karla', sans-serif;
}

p {
  font-family: 'karla', sans-serif;
}


.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-task {
  border-radius: 10px;
  padding: 10px 10px;
  color: #FBF9F1;
  background-color: #4A4E74;
  cursor: pointer;
  margin-top: 20px;
}

.nav--title {
  font-size: 1.5rem;
  margin-right: auto;
  padding-left: 20px;
}

.homePageIntro-style {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 3%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 80px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

}

.nav--date {
  padding-right: 15px;
  font-size: 1.2rem;
}


.div--card {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 2.5em;
}

.div--card>h2 {
  font-size: 1.4em;
  text-align: center;
}


.card {
  margin-top: 15px;
}

.addTaskButton--style {
  margin-top: 1em;
  margin-left: 4.5em;
  padding: 0px 70px 0px 70px;
  align-items: center;
  border-radius: 5px;
  color: #FBF9F1;
  background-color: #4A4E74;
}

.cardButton--style {
  margin-left: 15%;
}


.form--style {
  padding: 20px;
}

.label--style {
  margin-top: 20px;
}

.button--style {
  margin-top: 30px;
  color: #FBF9F1;
  background-color: #4A4E74;
  border-radius: 5px;
  width: 100%;
}

.card-title>i {
  margin-left: 60%;
  font-size: 15px;
  cursor: pointer;
}

.card-title>i:hover {
  color: red;
}

.textField--style {
  font-family: 'karla', sans-serif;
}

.formTitle--style {
  padding-left: 20px;
}